<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Kenhaui</h1>
		<p>Welcome to my blog write by Ruby on Rails.</p>
		
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/kenhaui">@kenhaui</a> or on the web at <a href="http://jumpalpha.info">jumpalpha.info</a>.</p>
	</div>
</div>